.pull-right.mt-2
  = link_to 'Управление организацими', user_companies_path, class: 'btn btn-sm btn-outline-primary'

h1.mb-4 Регистрация организации

= render 'companies/form', company: @company, step: step

