Ваша организация <%= @company %> НЕ прошла верификацию.
<br/>
Причина:
<br/>
-----------------
<%= simple_format @company.reject_message %>
-----------------
<br>

Для уточнения сведений об организации перейдите по <a href="<%= @url %>" target="_blank">ссылке</a>
