/*
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 *= require dropzone/dropzone
 *= require_self
 */

@import 'lightbox';
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$headings-font-weight:   300;

$spacer: 1em;
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: false;
$custom-file-text: (
  placeholder: (
    en: "Choose file...",
    ru: "Выберите файл.."
  ),
  button-label: (
    en: "Browse",
    ru: "Выбрать"
  )
);
@import 'bootstrap';
// @import "lightbox-bootstrap";
@import 'font-awesome';
@import 'custom';
