= link_to 'Пополнить', income_user_company_path(company), class: 'btn btn-sm btn-outline-success'
span.ml-1= link_to 'Вывод средств', outcome_user_company_path(company), class: 'btn btn-sm btn-outline-success'
