title= application_title
= Gon::Base.render_data
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
= render 'layouts/dadata'
= csrf_meta_tags
